* {
    margin: 0px;
    padding: 0px;
    /* background-color: black;
    color: white;
    border: 2px solid red; */
}

body {
    background-color: rgb(34, 62, 62);
}

.span {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: rgb(59, 113, 113);
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
    width: 98%;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 8px 8px 2px whitesmoke;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -85px;
}

h1 {
    font-size: 3rem;
    color: darkslategrey;
}

.crypto-card {
    min-width: 440px;
    border: 2px solid rgb(182, 181, 181);
    border-radius: 7px;
    margin-top: 23px;
    padding: 7px;
}

.select-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
}

.select-box Select {
    font-size: 1rem;
}

p {
    width: 600px;
    padding: 20px;
    font-size: 44px;
    font-weight: bold;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
